html,
body,
#root,
#root-layout {
  height: 100%;
}
body {
  margin: 0;
}
#root-layout {
  display: flex;
  flex-direction: column;

  > main {
    flex: 1;
  }
}
.slick-next::before,
.slick-prev::before {
  color: black !important;
}
.slick-dots li button:before {
  font-size: 15px !important;
}
